* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cell {
  border: 1px solid black;
  flex-grow: 1;
}

.cell:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.row {
  display: flex;
  top: 0;
  left: 0;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  width: 95vh;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: blue;
}